@import "./reset.scss";
@import "./vars.scss";
@import "./toggle.scss";

.header {
  position: relative;
  background: #008aff;
  border-radius: 0 0 0 200px;
  padding: 49px 157px;

  @media screen and (max-width: $screen-width-notebook) {
    padding: 49px;
    border-radius: 0 0 0 50px;
  }

  @media screen and (max-width: $screen-width-small) {
    padding: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    display: none;
    z-index: 2;

    @media screen and (max-width: $screen-width-desktop) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: $screen-width-desktop) {
      margin: 0;
    }
  }

  .nav {
    position: relative;
    &__logo {
      margin-right: 78px;
      z-index: 3;
    }

    .logo__img {
      width: $logo-width;
      height: $logo-height;
      align-items: center;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $screen-width-desktop) {
        display: none;
      }
    }

    &__item {
      position: relative;
      margin-right: 64px;

      &:last-child {
        margin-left: auto;
      }
    }

    &__link {
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        border-radius: 4px;
        background: #ff9c8e;
        width: 0;
        bottom: -8px;
        left: 0;
        transition: width 0.3s;
        letter-spacing: normal;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__info {
    color: #fff;
  }

  .info {
    max-width: 1400px;
    margin: 158px auto 0;
    color: #fff;

    @media screen and (max-width: $screen-width-notebook) {
      max-width: 1400px;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 56px auto 0;
    }

    &__heading {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px;
      color: #fff;

      @media screen and (max-width: $screen-width-small) {
        font-size: 48px;
      }
    }

    &__text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #fff;
      margin-top: 32px;
    }

    &__link {
      width: 226px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      background-color: #ff9c8e;
      border-radius: 64px;
      margin: 83px 0 205px;
      transition: color, background-color, 0.3s;
      letter-spacing: normal;

      @media screen and (max-width: $screen-width-notebook) {
        margin: 18px auto 56px;
      }

      &:hover {
        color: #ff9c8e;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
  .slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 80%;

    @media screen and (max-width: $screen-width-notebook) {
      position: relative;
      width: 100%;
      height: 250px;
    }

    @media screen and (max-width: $screen-width-small) {
      height: 240px;
    }

    &__background {
      width: 100%;
      height: 100%;
      border-radius: 200px 0 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 40%,
      rgba(62, 61, 61, 0.42) 78%);

      @media screen and (max-width: $screen-width-notebook) {
        border-radius: 0 0 0 50px;
      }
    }

    &__item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_item--1 {
      background-image: url(../images/slider/slider-img2.png);
      border-radius: 200px 0 0;

      @media screen and (max-width: $screen-width-notebook) {
        border-radius: 0 0 0 50px;
      }
    }

    &__intro {
      position: absolute;
    }

    .intro {
      line-height: 19px;
      letter-spacing: 3px;
      color: #fff;
      left: 144px;
      bottom: 42px;

      @media screen and (max-width: $screen-width-small) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -70px;
        left: 10px;

        &__heading {
          margin-bottom: 4px;
        }

        &__text {
          text-align: center;
        }
      }

      &__heading {
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }

    .button {
      position: absolute;
      bottom: 48px;
      left: 48px;

      @media screen and (max-width: $screen-width-small) {
        display: flex;
        justify-content: space-between;
        position: static;

        &__left {
          position: absolute;
          left: 8px;
          top: 50%;
        }

        &__right {
          position: absolute;
          right: 8px;
          top: 50%;
        }
      }

      &__left {
        @extend %slider-arrows;
        background: url(../images/slider/arrow-left.png);
        margin-right: 8px;

        &:hover {
          background-color: #ff9c8e;
          cursor: pointer;
        }
      }

      &__right {
        @extend %slider-arrows;
        background: url(../images/slider/arrow-right.png);

        &:hover {
          background-color: #ff9c8e;
          cursor: pointer;
        }
      }
    }
  }
}
