@import "./reset.scss";
@import "./vars.scss";

.header {
  position: relative;
  background: #008aff;
  border-radius: 0 0 0 200px;
  padding: 49px 157px;

  &__nav {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }

  .nav {
    &__logo {
      margin-right: 78px;
    }

    .logo__img {
      width: $logo-width;
      height: $logo-height;
      align-items: center;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      position: relative;
      margin-right: 64px;

      &:last-child {
        margin-left: auto;
      }
    }

    &__link {
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        border-radius: 4px;
        background: #ff9c8e;
        width: 0;
        bottom: -8px;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__info {
    color: #fff;
  }
  .info {
    width: 50%;
    margin-top: 158px;
    color: #fff;

    &__heading {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px;
      color: #fff;
    }

    &__text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #fff;
      margin-top: 32px;
    }

    &__link {
      width: 226px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      background-color: #ff9c8e;
      border-radius: 64px;
      margin: 83px 0 205px;
      transition: color, background-color, 0.5s;

      &:hover {
        color: #ff9c8e;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }

  .slider {
    position: absolute;
    right: 0;
    bottom: 0;

    &__img {
      display: block;
      border-radius: 25% 0 0;
    }

    &__intro {
      position: absolute;
    }

    .intro {
      line-height: 19px;
      letter-spacing: 3px;
      color: #fff;
      left: 144px;
      bottom: 48px;

      &__heading {
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }

    .button {
      position: absolute;
      bottom: 66px;
      left: 48px;

      &__left {
        @extend %slider-arrows;
        background: url(../images/slider/arrow-left.png);
        margin-right: 8px;

        &:hover {
          background-color: #ff9c8e;
          cursor: pointer;
        }
      }

      &__right {
        @extend %slider-arrows;
        background: url(../images/slider/arrow-right.png);

        &:hover {
          background-color: #ff9c8e;
          cursor: pointer;
        }
      }
    }
  }
}
