body {
  min-width: 320px; }

html,
body,
h1,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: 3px; }

ul {
  list-style-type: none; }

.header .slider .button__left, .header .slider .button__right {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.header {
  position: relative;
  background: #008aff;
  border-radius: 0 0 0 200px;
  padding: 49px 157px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    max-width: 1400px;
    margin: 0 auto; }
  .header .nav__logo {
    margin-right: 78px; }
  .header .nav .logo__img {
    width: 45px;
    height: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .nav__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .nav__item {
    position: relative;
    margin-right: 64px; }
    .header .nav__item:last-child {
      margin-left: auto; }
  .header .nav__link::after {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 4px;
    background: #ff9c8e;
    width: 0;
    bottom: -8px;
    left: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }
  .header .nav__link:hover:after {
    width: 100%; }
  .header__info {
    color: #fff; }
  .header .info {
    max-width: 1400px;
    margin: 158px auto 0;
    color: #fff; }
    .header .info__heading {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px;
      color: #fff; }
    .header .info__text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #fff;
      margin-top: 32px; }
    .header .info__link {
      width: 226px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      background-color: #ff9c8e;
      border-radius: 64px;
      margin: 83px 0 205px;
      -webkit-transition: color, background-color, 0.5s;
      transition: color, background-color, 0.5s; }
      .header .info__link:hover {
        color: #ff9c8e;
        background-color: #fff;
        cursor: pointer; }
  .header .slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 85%; }
    .header .slider__item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .header .slider_item--1 {
      background-image: url(../images/slider/slider-img2.png);
      border-radius: 200px 0 0; }
    .header .slider__intro {
      position: absolute; }
    .header .slider .intro {
      line-height: 19px;
      letter-spacing: 3px;
      color: #fff;
      left: 144px;
      bottom: 48px; }
      .header .slider .intro__heading {
        text-transform: uppercase;
        margin-bottom: 8px; }
    .header .slider .button {
      position: absolute;
      bottom: 66px;
      left: 48px; }
      .header .slider .button__left {
        background: url(../images/slider/arrow-left.png);
        margin-right: 8px; }
        .header .slider .button__left:hover {
          background-color: #ff9c8e;
          cursor: pointer; }
      .header .slider .button__right {
        background: url(../images/slider/arrow-right.png); }
        .header .slider .button__right:hover {
          background-color: #ff9c8e;
          cursor: pointer; }

/*# sourceMappingURL=header.css.map */
