h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  min-width: 320px; }

html,
body,
h1,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: 3px; }

ul {
  list-style-type: none; }

body {
  min-width: 320px; }

html,
body,
h1,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: 3px; }

ul {
  list-style-type: none; }

.header .slider .button__left, .header .slider .button__right {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.header .slider .button__left, .header .slider .button__right {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.toggle__mobile {
  display: none; }

.toggle__menu {
  opacity: 0;
  position: absolute;
  top: -100%; }

.toggle__btn {
  display: block;
  position: relative;
  top: 8px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3; }

.toggle__list {
  position: absolute;
  top: 165px;
  left: 20%; }

.toggle__item {
  margin-bottom: 40px; }

.toggle__link {
  color: white;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.toggle__menu:checked ~ .toggle__mobile {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #008aff;
  border-radius: 0 0 0 50px;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s; }

.toggle__menu:checked ~ .info {
  display: none; }

.toggle__span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.toggle__span::before {
  content: "";
  top: -8px; }

.toggle__span::after {
  content: "";
  top: 8px; }

.toggle__menu:checked ~ .toggle__btn > .toggle__span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.header {
  min-width: 320px;
  position: relative;
  background: #008aff;
  border-radius: 0 0 0 200px;
  padding: 49px 157px; }
  @media screen and (max-width: 1099px) {
    .header {
      padding: 49px;
      border-radius: 0 0 0 50px; } }
  @media screen and (max-width: 559px) {
    .header {
      padding: 20px; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__toggle {
    display: none;
    z-index: 2; }
    @media screen and (max-width: 1299px) {
      .header__toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    max-width: 1400px;
    margin: 0 auto; }
    @media screen and (max-width: 1299px) {
      .header__nav {
        margin: 0; } }
  .header .nav {
    position: relative; }
    .header .nav__logo {
      margin-right: 78px;
      z-index: 3; }
    .header .nav .logo__img {
      width: 45px;
      height: 26px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header .nav__list {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 1299px) {
        .header .nav__list {
          display: none; } }
    .header .nav__item {
      position: relative;
      margin-right: 64px; }
      .header .nav__item:last-child {
        margin-left: auto; }
    .header .nav__link::after {
      content: "";
      position: absolute;
      height: 2px;
      border-radius: 4px;
      background: #ff9c8e;
      width: 0;
      bottom: -8px;
      left: 0;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .header .nav__link:hover:after {
      width: 100%; }
  .header__info {
    color: #fff; }
  .header .info {
    max-width: 1400px;
    margin: 158px auto 0;
    color: #fff; }
    @media screen and (max-width: 1099px) {
      .header .info {
        max-width: 1400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        margin: 56px auto 0; } }
    .header .info__heading {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px;
      color: #fff; }
      @media screen and (max-width: 559px) {
        .header .info__heading {
          font-size: 48px; } }
    .header .info__text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #fff;
      margin-top: 32px; }
    .header .info__link {
      width: 226px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      background-color: #ff9c8e;
      border-radius: 64px;
      margin: 83px 0 205px;
      -webkit-transition: color, background-color, 0.5s;
      transition: color, background-color, 0.5s; }
      @media screen and (max-width: 1099px) {
        .header .info__link {
          margin: 18px auto 56px; } }
      .header .info__link:hover {
        color: #ff9c8e;
        background-color: #fff;
        cursor: pointer; }
  .header .slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 85%; }
    @media screen and (max-width: 1099px) {
      .header .slider {
        position: relative;
        width: 100%;
        height: 350px; } }
  @media screen and (max-width: 1099px) and (max-width: 559px) {
    .header .slider {
      height: 240px; } }
    .header .slider__background {
      width: 100%;
      height: 100%;
      border-radius: 200px 0 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.1)), color-stop(78%, rgba(62, 61, 61, 0.42)));
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 40%, rgba(62, 61, 61, 0.42) 78%); }
      @media screen and (max-width: 1099px) {
        .header .slider__background {
          border-radius: 0 0 0 50px; } }
    .header .slider__item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .header .slider_item--1 {
      background-image: url(../images/slider/slider-img2.png);
      border-radius: 200px 0 0; }
      @media screen and (max-width: 1099px) {
        .header .slider_item--1 {
          border-radius: 0 0 0 50px; } }
    .header .slider__intro {
      position: absolute; }
    .header .slider .intro {
      line-height: 19px;
      letter-spacing: 3px;
      color: #fff;
      left: 144px;
      bottom: 48px; }
      @media screen and (max-width: 559px) {
        .header .slider .intro {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          top: -70px;
          left: 10px; }
          .header .slider .intro__heading {
            margin-bottom: 4px; }
          .header .slider .intro__text {
            text-align: center; } }
      .header .slider .intro__heading {
        text-transform: uppercase;
        margin-bottom: 8px; }
    .header .slider .button {
      position: absolute;
      bottom: 48px;
      left: 48px; }
      @media screen and (max-width: 559px) {
        .header .slider .button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          position: static; }
          .header .slider .button__left {
            position: absolute;
            left: 8px;
            top: 50%; }
          .header .slider .button__right {
            position: absolute;
            right: 8px;
            top: 50%; } }
      .header .slider .button__left {
        background: url(../images/slider/arrow-left.png);
        margin-right: 8px; }
        .header .slider .button__left:hover {
          background-color: #ff9c8e;
          cursor: pointer; }
      .header .slider .button__right {
        background: url(../images/slider/arrow-right.png); }
        .header .slider .button__right:hover {
          background-color: #ff9c8e;
          cursor: pointer; }

.header .slider .button__left, .header .slider .button__right {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.header .slider .button__left, .header .slider .button__right {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.toggle__mobile {
  display: none; }

.toggle__menu {
  opacity: 0;
  position: absolute;
  top: -100%; }

.toggle__btn {
  display: block;
  position: relative;
  top: 8px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3; }

.toggle__list {
  position: absolute;
  top: 165px;
  left: 20%; }

.toggle__item {
  margin-bottom: 40px; }

.toggle__link {
  color: white;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.toggle__menu:checked ~ .toggle__mobile {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #008aff;
  border-radius: 0 0 0 50px;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s; }

.toggle__menu:checked ~ .info {
  display: none; }

.toggle__span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.toggle__span::before {
  content: "";
  top: -8px; }

.toggle__span::after {
  content: "";
  top: 8px; }

.toggle__menu:checked ~ .toggle__btn > .toggle__span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
